/* Gruvbox Dark theme for Waybar */
* {
    font-family: FontAwesome, Fira Sans, Roboto, Arial, sans-serif;
    font-weight: 500; /* Semi-bold */
    font-size: 16px;  /* Increase font size */
}

/* General background color for all parts */
#waybar {
    background-color: #282828; /* Gruvbox Dark background */
    color: #ebdbb2; /* Gruvbox light text color */
    padding: 0 0px;
    border-bottom: 2px solid #504945; /* Gruvbox medium gray for a subtle border */
    border-radius: 0; /* Remove rounding if needed */
}

/* Specific adjustments for modules */
#waybar .module {
    padding: 0px 10px;
    color: #ebdbb2;
}

#waybar .module:hover {
    background-color: #3c3836; /* Slightly lighter background for hover */
    color: #d79921; /* Gruvbox yellow for hover text */
}

/* Active workspace indicator */
#waybar #workspaces button.focused {
    color: #ebdbb2; /* Gruvbox Foreground */
    /*border-bottom: 2px solid #ebdbb2; */
}

/* Inactive workspaces */
#waybar #workspaces button {
    padding: 0px 10px;
    color: #7c6f64; /* Gruvbox medium gray */
    border-radius: 0
}

#waybar #workspaces button:hover {
    background-color: #3c3836; /* Slightly lighter background for hover */
    color: #d79921; /* Gruvbox yellow for hover text */
}

/* Urgent workspace indicator */
#waybar #workspaces button.urgent {
    color: #fb4934; /* Gruvbox red */
}
