// The whole logic is changed... No Modes and only shortcurts using alt+shift
keybinds clear-defaults=true{
    shared {
        bind "Alt Q" { Quit; }
        bind "Alt W" { Detach; }
        bind "Alt ?" { EditScrollback; }
        bind "Alt Up" { HalfPageScrollUp; }
        bind "Alt Down" { HalfPageScrollDown; }

        // Panes
        bind "Alt N" { NewPane; }
        bind "Alt H" { MoveFocusOrTab "Left"; }
        bind "Alt L" { MoveFocusOrTab "Right"; }
        bind "Alt J" { MoveFocus "Down"; }
        bind "Alt K" { MoveFocus "Up"; }
        bind "Alt M" { ToggleFloatingPanes; }
        bind "Alt P" { TogglePaneEmbedOrFloating; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt _" { Resize "Decrease"; }
        bind "Alt F" { ToggleFocusFullscreen; }
        bind "Alt {" { PreviousSwapLayout; }
        bind "Alt }" { NextSwapLayout; }
        bind "Alt |" "Tab" { MovePane; }

        // Tabs
        bind "Alt T" { NewTab; }
        bind "Alt <" "Alt Left" { GoToPreviousTab; }
        bind "Alt >" "Alt Right" { GoToNextTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
}

default_shell "fish"
pane_frames false
theme "catppuccin-mocha"
copy_on_select false
default_layout "compact"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
   }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "quit"


// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx


//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"
