// The whole logic is changed... No Modes and only shortcurts using alt+shift
keybinds clear-defaults=true{
    shared {
        bind "Alt Q" { Quit; }
        bind "Alt W" { Detach; }
        // I'm using alacrrity built in VI mode for this
        // bind "Alt ?" { EditScrollback; }
        bind "Alt Up" { HalfPageScrollUp; }
        bind "Alt Down" { HalfPageScrollDown; }

        // Panes
        bind "Alt |" { NewPane "Right"; }
        bind "Alt _" { NewPane "Down"; }
        bind "Alt \"" { NewPane; }
        bind "Alt H" { MoveFocusOrTab "Left"; }
        bind "Alt L" { MoveFocusOrTab "Right"; }
        bind "Alt J" { MoveFocus "Down"; }
        bind "Alt K" { MoveFocus "Up"; }
        bind "Alt F" { ToggleFloatingPanes; }
        bind "Alt :" { ToggleFloatingPanes; }
        bind "Alt T" { TogglePaneEmbedOrFloating; }
        bind "Alt M" { ToggleFocusFullscreen; }
        bind "Alt {" { PreviousSwapLayout; }
        bind "Alt }" { NextSwapLayout; }
        bind "Alt I" { ToggleTab; }
        bind "Alt )" { Resize "Increase"; }
        bind "Alt (" { Resize "Decrease"; }

        // Tabs
        bind "Alt T" { NewTab; }
        bind "Alt Y" { NewTab {
            name "Tab"
          }
        }
        bind "Alt P" { GoToNextTab; }
        bind "Alt N" { GoToPreviousTab; }
        bind "Alt <" { MoveTab "Left"; }
        bind "Alt >" { MoveTab "Right"; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
}

default_shell "fish"
pane_frames false
// theme "gruvbox-dark"
theme "gruvbox-light"
copy_on_select false
default_layout "compact"
default_mode "locked"
copy_command "wl-copy"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
   }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "quit"


